.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}